<!DOCTYPE html>
<html>
<head>
<title>Taleem Workshop</title>

<link rel="stylesheet" href="/css/create-page.css">

<style>
body{
  margin:0;
  padding:0;
}
.alert{
color:#f87171;
font-size:20px;
margin-bottom:20px;
}

.page{
max-width:900px;
margin:auto;
padding-top:0px;
}

</style>

</head>

<body>

<%- include('../partials/nav') %>

<div class="page">

<h1>Taleem Workshop</h1>

<% if (typeof query !== "undefined" && query.msg) { %>
<div class="alert"><%= query.msg %></div>
<% } %>

<section>

    <h2>CREATE EMPTY DECK</h2>
    
    <form action="/create/deck" method="POST">
    <input name="slug" placeholder="deck slug (e.g. bodmas)">
    <button>Create Empty Deck</button>
    </form>
    
    </section>
    
    
    <section>
    
    <h2>UPLOAD DECK (.json)</h2>
    
    <form action="/create/upload-deck" method="POST" enctype="multipart/form-data">
    <input type="file" name="deck">
    <button>Upload Deck</button>
    </form>
    
    </section>
    
    
    <section>
    
    <h2>DELETE DECK</h2>
    
    <form action="/create/delete-deck" method="POST">
    <input name="slug" placeholder="deck slug to delete">
    <button>Delete Deck</button>
    </form>
    
    </section>

<section>

<h2>AUDIO</h2>

<form action="/create/upload-audio" method="POST" enctype="multipart/form-data">
<input type="file" name="audio">
<button>Upload</button>
</form>

<form action="/create/delete-audio" method="POST">
<input name="filename" placeholder="audio filename">
<button>Delete</button>
</form>

</section>

</div>

</body>
</html>