<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Taleem Player</title>

<style>

:root{
  --backgroundColor: #d30b29;
  --primaryColor:#269a1e;
}
body{
  margin:0;
  background:var(--backgroundColor);
  color:var(--primaryColor);
  display:flex;
  flex-direction:column;
  height:100vh;
}

.player-stage{
  flex:1;
  display:flex;
}

#player-root{
  width:100%;
  height:100%;
}
</style>
<link rel="stylesheet" href="/css/taleem-player-app.css">
</head><body>

<div class="player-stage">
  <div id="player-root"></div>
</div>

<%- include('./player-navbar') %>

<script src="https://cdn.jsdelivr.net/npm/howler@2.2.4/dist/howler.min.js"></script>
<script type="module">
import { taleemPlayerApp, createSilentTimer }from "/js/taleem-player-app.esm.js";
import { createTaleemPlayer,getDeckEndTime,resolveAssetPaths } from "/js/taleem-player.esm.js";
import { getTimer } from "/js/getTimer.js";

const deckSlug = "<%= deck %>";
const source = "<%= source %>";

async function init(){
  // const res = await fetch(`/content/decks/${deckSlug}.json`);
  let basePath = "/workspace/slides"; // default

if(source === "timings"){
  basePath = "/workspace/timings";
}
else if(source === "decks"){
  basePath = "/content/decks";
}
else if(source === "slides"){
  basePath = "/workspace/slides";
}
else if(source === "archive"){
  basePath = "/workspace/archive";
}

const res = await fetch(`${basePath}/${deckSlug}.json`);

  const deck = await res.json();

///////////////////////////////////////////////
    resolveAssetPaths(deck , "/content/images/");
///////////////////////////////////////////////

  ///--end time 
  debugger;
  const duration = getDeckEndTime(deck);
  const player = createTaleemPlayer({
    deck,
    mount: document.querySelector("#player-root")
  });
  const timer = await getTimer(deckSlug);

  taleemPlayerApp({
    player,
    timer,
    duration :(duration-1),
    ui:{
      playBtn: document.querySelector("#play-btn"),
      pauseBtn: document.querySelector("#pause-btn"),
      stopBtn: document.querySelector("#stop-btn"),
      scrub: document.querySelector("#scrub"),
      timeEl: document.querySelector("#time")
    }
  });
}
init();
</script></body></html>